.constructionBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3vw;
    font-family: 'Roboto', sans-serif;

    .titleConstruction {
      display: flex;
      margin: 0%;
      padding: 0%;
      margin: auto;
      text-align: center;
      font-size: 1.5vw;
    }

    .containerConstruction {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 100%;    
    
        .fondoConstruction {
          position: relative;
    
          img {
            padding: 0vw;
            margin: 0vw;
            position: relative;
            width: 40vw;
          }
        }

        .container-redesConstruction {
          display: flex;
          flex-direction: row;
          width: 30%;
          text-align: center;
          justify-content: space-around;
    
            .contactanosConstruction {
              display: flex;
              flex-direction: row;
              top: 46vw;
              left: 3vw;
              cursor: pointer;
              z-index: 5;
              text-decoration: none;
              background: rgba(55, 58, 64, 0.7);
              align-items: center;
              padding: 0.5vw 1vw;
              border-radius: 1.4vw;
              border: 0.1vw solid #5c5a5a;
              border: 0.1vw solid #bda43a;
              box-shadow: 0px 10px 26px -7px rgba(0, 0, 0, 0.38);
              transition: 0.1s;
        
              .logoW {
                height: 2vw;
              }
        
              p {
                font-size: 1vw;
                margin-left: 0.5vw;
                color: #ffffff;
              }
            }
            .contactanos:hover {
              background: rgba(55, 58, 64, 0.9);
              transition: 0.1s;
              background: black;
            }
    
        }
    }


}